.row{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.column{
    height: 500px;
    width: 30%;
    background-color: #f2e6ff;
    border: 3px solid #ff9999;
    color: #ff9999;
    float: left;
}
h1{
    color: #ff000f;
}
h1:after{
    content: "this is an example";
}
h2:before{
    content: "this is another example";
}